<!doctype html>
<html>
<head>
    <title>Favorite Movie Tracker</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Favorite Movie Tracker</h1>
        <img src="img/movie-theater.jpg" alt="Photo of a movie theater">
        <h2>Track and manage your favorite movies!</h2>

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
